{% extends 'base.html'%}
{% block content %} 
<h1>Order details</h1>

<div class="container">
    <div class="row">
      <div class="col-sm">
       <h2>Open Orders</h2>
        <br>
        <br>
        <div class="list-group">
  
    <div class="d-flex w-100 justify-content-between">
    </div>
    {% for order in order_list %}

    <p>Order ID: {{order.id}}</p>
    <p>Order Type: {{order.order_type}}</p>
    <p>Coin: {{order.coin_type}}</p>
    <p>Amount: ${{order.amount}}</p>
    <p>User: {{order.user}}</p>
    
    <a href="{% url 'order_detail' order.id%}">Fill Order</a>
    <br>
    
    <hr>
    
{% endfor %}
</div>
      </div>
      <div class="col-sm">
        <H2>One of three columns</H2>
      </div>
      <div class="col-sm-7">
        <H2>One of three columns</H2>
        One of three columns
                    <br>
                    <br>
                    <!-- TradingView Widget BEGIN -->
                    <div class="tradingview-widget-container">
                      <div id="tradingview_67b82"></div>
                      <div class="tradingview-widget-copyright"><a href="" rel="noopener" target="_blank"><span class="blue-text">capX Chart</span></a> by capX</div>
                      <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script> <script type="text/javascript">
                      new TradingView.widget(
                        {
                          "width": 780,
                          "height": 610,
                          "symbol": "BITSTAMP:BTCUSD",
                          "interval": "D",
                          "timezone": "Etc/UTC",
                          "theme": "Light",
                          "style": "1",
                          "locale": "en",
                          "toolbar_bg": "#f1f3f6",
                          "enable_publishing": false,
                          "withdateranges": true,
                          "allow_symbol_change": true,
                          "details": true,
                          "container_id": "tradingview_67b82"
                          }
                          );
                      </script>
</div>
      </div>
    </div>
  </div>

<!-- LAST PRICE EXECUTED HERE  -->


<!--<div class="list-group">
    <div class="d-flex w-100 justify-content-between">
    {% for order in order_list %}
    <p>Order Type: {{order.order_type}}</p>
    <p>Coin: {{order.coin_type}}</p>
    <p>Amount: ${{order.amount}}</p>
    <p>User: {{order.user}}</p>
    <p>Created At: {{order.created_at}}</p>
    <p>Updated At: {{order.updated_at}}</p>
    <a href="{% url 'order_detail' order.id%}">Fill Order</a>
    
    {% if user.is_authenticated %}
    <div>
        <a href="{% url 'order_update' order.id%}" >Edit</a>
        <a href="{% url 'order_delete' order.id%}">Delete</a>
    </div>
    {% else %}
    <a href="../accounts/login/"><p> Please log in first to trade</p></a>
    {% endif %}
    <br>
{% endfor %}



{% endblock %}


