{% extends 'base.html'%}
{% block content %} 

INDEX PAGE
<hr>

{% for order in order_list %}
    <p>Order Type: {{order.order_type}}</p>
    <p>Coin: {{order.coin_type}}</p>
    <p>Amount: ${{order.amount}}</p>
    <p>User: {{order.user}}</p>
    <p>Created At: {{order.created_at}}</p>
    <p>Updated At: {{order.updated_at}}</p>
    <a href="{% url 'order_detail' order.id%}">Fill Order</a>
    
    {% if user.is_authenticated %}
    <div>
        <a href="{% url 'order_update' order.id%}" >Edit</a>
        <a href="{% url 'order_delete' order.id%}">Delete</a>
    </div>
    {% else %}
    <a href="../accounts/login/"><p> Please log in first to trade</p></a>
    {% endif %}
    <br>
{% endfor %}

{% endblock %}