{% extends 'base.html'%}
{% block content %}

<h1>Welcome, {{user.username}}</h1>
<h3>BALANCES</h3>

    <p>BTC BALANCE:{{ wallet.btc_balance}}</p>
    <p>ETH BALANCE:{{ wallet.eth_balance}}</p>

<h3>Open Orders</h3>
<hr>
{% for order in open_orders %}
       <p>Order ID: {{order.id}}</p>
       <p>Amount: {{order.amount}}</p>            
{%endfor%}
<hr>
<h3>Filled Orders</h3>
{% for order in filled_orders %}
       <p>Order ID: {{order.id}}</p>
       <p>Amount: {{order.amount}}</p>    
       <p>Transaction ID:{{order.transaction}}</p> 
{%endfor%}




{% endblock %}