{% extends 'base.html'%}
{% block content %}
 
  <div class="jumbotron jumbotron-fluid bg-dark">
    <div class="container">
      <h1 class="display-4">cap<span class="x">X</span></h1>

      <p class="banner-head-p">Borderless, Frictionless, Middle-less. Exchange on your terms.</p>
    </div>
  </div>

  <div class="home-container">
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <div class="order-card">
          <img src="../static/images/rocketship.svg" alt="" width='200px' height='200px'>
          <p class="lead">TRADE  </p>
        </div>
      </div>

      <div class="col-md-4 col-sm-12">
        <div class="order-card">
          <img src="../static/images/handshake.svg" width='200px' height='200px'>
          <p class="lead-middle"> TRUST </p>
        </div>
      </div>
    
      <div class="col-md-4 col-sm-12">
        <div class="order-card">
          <img src="../static/images/bitcoinimage.svg" alt="" width='200px' height='200px'>
          <p class="lead">DISTRIBUTED </p>
        </div>
      </div> 
    </div>

    <div class="row">
      <div class="col-sm-12">
        
      </div>
    </div>
  </div

  
{% endblock %}