{% extends 'base.html'%}
{% block content %}
 
<div class="jumbotron jumbotron-fluid bg-dark">
        <div class="container">
          <h1 class="display-4">cap<span class="x">X</span></h1>
          <p class="lead">To provide a fare market place for transaction across the Block Chain. </p>
        </div>
      </div>

      <div class="row-center">
        <div class="col-md-4">
          <h2>The problem</h2>
          <p>According to Statista the average cost by percentage to send $200 globally is about 7%. The total market capitalization of the global remittance is about a $700 billion. In totality, fees cost the remittance market almost $50 billion annually and especially low to middle income countries.  </p>
          
        </div>
        <div class="col-md-4">
          <h2>The solution</h2>
          <p> Enter blockchain and cryptocurrency exchanges. With digital assets like cryptocurrency being able to represent fiat as tokens online and blockchain technology being able to decentralize and eliminate middlemen, this industry can be able to securely reduce fees down to less than 1% per </p>
          
       </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>“With CapX users can send money anywhere around the world and have their transaction information protected while doing so.” </p>
        
        </div>
      </div> 
      
  
{% endblock %}