body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  position: relative;
  max-width: 2560px;
  margin: .05px;
  background-color:radial-gradient(grey 30%, white 15%, grey 30%)
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:rgb(37,43,57);
  text-align: center;
}

.navbar{

  background-color:rgb(37,43,57);
}

.navbar-default .navbar-brand {
    color: whitesmoke;
}
.navbar-default .navbar-nav>li>a {
  color: whitesmoke;
}

.navbar-default .navbar-nav>li>a:hover  {
  background-color: white;
}



.jumbotron {
  background-color: grey;
}

.x {
  color:#3EC1D5;
}

.orderHead{
  text-align: left;
}