body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    position: relative;
    max-width: 2560px;
    margin: 0px;
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#323232;
    text-align: center;
  }

  .navbar{

    background-color:#323232;
  }

.navbar-default .navbar-brand {
    color: whitesmoke;
}
.navbar-default .navbar-nav>li>a {
  color: whitesmoke;
}

  .navbar-default .navbar-nav>li>a:hover  {
  
    background-color: white;
  }