body {
  font-family: 'Open Sans', sans-serif;
  position: relative;

  margin: .05px;
  background-color:#f0f0f0;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:rgb(37,43,57);
  text-align: center;
}

.navbar{

  background-color:rgb(37,43,57);
}

.navbar-default .navbar-brand {
    color: whitesmoke;
}
.navbar-default .navbar-nav>li>a {
  color: whitesmoke;
}

.navbar-default .navbar-nav>li>a:hover  {
  background-color: white;
}

#order-container {
  padding: 0;
  margin: 0;

}

.bg-dark {
  background-color: #DCDCDC !important;
}

.jumbotron {

  border-bottom: 6px solid #3EC1D5;
  border-top: 6px solid #3EC1D5; 
}

.x {
  color:#3EC1D5;
}

.orderHead{
  padding-left: 20px;
}

hr { display: block; height: 1px;
  border: 0; border-top: 1px solid #3EC1D5;
  margin: 1em 0; padding: 0; }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    margin: 0 0 15px;
    font-weight: 500;
  }

.scroll{
  height: 300px;
  overflow: scroll;
}

ul {
  list-style: none
}